# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
myenv/
venv/
.env/
.venv/

# -------------------------
# Git
# -------------------------
.git/
.gitignore

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Pytest
# -------------------------
.pytest_cache/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Runtime Data
# -------------------------
app/data/

# Ignore uploaded PDFs
*.pdf

# -------------------------
# Build Artifacts
# -------------------------
build/
dist/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db